nav{
    display: block;
    background-color: antiquewhite;
    text-align: center;
    margin: 0%;
   
}
nav ul li{
    list-style-type: none;
    display: inline-block;
    margin: 5px;
}
body {
    background-color: blue;
}
.Profile{
    display: inline-block;
    vertical-align: middle;
}
#Wrapper{
    border: round black 5cm;
    margin: auto;
}
#Profileinfo{
    background-image: url(images/gear.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    color: gold;
    border: solid 1cm brown;

}
tr{
    margin:auto;
    border:solid black 10px;
}
table  {

    border: solid 20px red;

}